*{
  box-sizing: border-box;
  margin: 0;
}

body{
	background:url(../img/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-wrap: break-word;
}

ul{
  padding: 8px 0;
}


/*nome no topo*/
.conteudoTopo{
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(../img/BackgroundTopo.png);
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
  color: #ffffff;
}


/*botão*/
.conteudoMenu{
  width: 98%;
  margin: 20px auto;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
#linkMenuSimulador{
  background: #231F20;
}
#linkMenuCalendario{
  background: #D40054;
}
.linkMenu{
  margin: auto 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color:#ffffff;
  padding: 10px;
  font-size: 18px;
  width: 30%;
}
.nomeBotao{
  font-weight: bolder;
}
.imgBotao{
  height: 16px;
  padding: 0px 10px;
}



/*conteudo*/
.conteudoSimulador{
  display: grid;
  width: 98%;
  margin: 2.5px auto;
  padding: 5px 20px 20px 20px;
}
.divisaoAV{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 20px;
}
.conteudoNomeAV{
  display: flex;
  margin: auto;
}
.nomeAV{
  width: 150px;
  background-color: #8E9794;
  padding: 10px 20px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}
#nomeMediaFinal1{
  background-color: #595D5C;
}

.conteudoAV{
  background-color: #E5E8E7;
  border-radius: 10px;
  padding: 2px 10px;
  margin: auto 5px;
}

.nomeAP{
  font-weight: bolder;
  margin: 0px 5px;
  font-size: 18px;
  color: #000000;
}
.notaAP{
  width: 60px;
  text-align: center;
  background-color: #ffffff;
  margin: 10px 2px;
  border: 1px solid #ffffff;
  color: #595D5C;
}



.conteudoMediaAV{
  margin: auto;
}



#conteudoResultadoParte1, #conteudoResultadoParte2, #conteudoResultadoMediaFinal1, #conteudoResultadoAVS{
  display: flex;
  margin: auto;
} 
#resultadoNomeParte1, #resultadoNomeParte2, #resultadoNomeMediaFinal1, #resultadoNomeAVS{
  margin-top:auto;
  margin-bottom:auto;
  border-radius: 10px;
  text-align: center;
  background-color: #BFC8C5;
  text-align: center;
  width: 210px;
}
#resultadoParte1, #resultadoParte2, #resultadoMediaFinal1, #resultadoAVS{
  background-color: #E5E8E7;
  border: #E5E8E7 1px solid;
}
#resultadoParte1, #resultadoParte2, #resultadoMediaFinal1, #resultadoAVS, #Parte1, #Parte2{
  width: 70px;
}

.nomeSituacao{
  width: 350px;
  height: 45px; 
  text-align: center;
  background-color: #e1090900;
  border: 1px solid #8E9794;
}


#nomeMediaFinal1Situacao, #nomeAVSSituacao{
  background-color: #323232;
}
#conteudoMediaFinal1Situacao, #conteudoAVSSituacao{
  background-color: #ffffff00;
}
input{
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background: #ED2830;
}


.botaoDelete,.btCalcular{
  color:#ffffff;
  border: 1px solid #ED2830;
  cursor: pointer;
}
.btCalcular{
  margin: 10px 0px;
  float: right;
}
.conteudoDelete{
  text-align: center;
}

hr{
  width: 75%;
  border-top: 1px solid rgb(225, 225, 225);
  margin: 5px auto;
  margin-top: 20px;
}


/* #divisaoAVS, #divisaoAVSSituacao{
display: none;
}
 */


@media only screen and (max-width: 880px){
  .divisaoAV{
   display: grid;
   grid-template-columns: 1fr;
  }
  .conteudoAV#conteudoParte1, .conteudoAV#conteudoParte2, .conteudoAV#conteudoMediaFinal1,.conteudoAV#conteudoAVS{
    margin: 10px;
  }
  #conteudoParte1Situacao, #conteudoParte2Situacao, #conteudoMediaFinal1Situacao, #conteudoAVSSituacao{
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media only screen and (max-width: 600px){
  .linkMenu{
    display: inline-flex;
  }
  .btCalcular{
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 440px){
  .linkMenu{
    display: grid;
  }
  .imgBotao{
    margin: auto;
  }
  .conteudoAV#conteudoMediaFinal1, .conteudoAV#conteudoAVS{
    display: grid;
    grid-template-columns: 1fr;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  #divisaoMediaFinal1{
    margin-top: 50px;
  }
  .nomeAP{
    margin-left: auto;
    margin-right: auto;
  }
  .btCalcular{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .nomeSituacao{
    width: 200px;
  }

}
@media only screen and (max-width: 375px){
  a.menu{
    padding: 3px;
    justify-content: center;
    align-items: center;
  }
  .conteudoMenu{
    margin: 15px auto;
    padding: 15px 0px;
  }

  input{
    margin: 5px;
  }
  hr{
    width: 85%;
  }
}


.conteudoSimuladorNone{
  display: none;
}



/*informacoes*/
.conteudoBotao{
  display: grid;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 400px;
  cursor: pointer;
  padding: 5px;
}.conteudoBotaoNone{
  display: none;
}

#botaoInfo{
  font-size: 65px;
  color: #ED2830;
  border-radius: 400px;
  transform: rotateX(180deg);
}
#botaoInfo:hover{
  font-size: 70px;
}
.conteudoBotao:hover{
  transition: 0.9s;
  transform: rotateX(360deg);

}
.conteudoBotaoFechar{
  display: grid;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #ED2830;
  border-radius: 500px;
  margin: 5px;
  padding: 3px 5px;
  cursor: pointer;
}

#botaoInfoFechar{
  font-size: 50px;
  color: #ffffff;

}
#botaoInfoFechar:hover{
  font-size: 55px;
  transform: rotate(-540deg);
  transition: 0.9s;

}


.conteudoDecricao{
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0px;
  width: 97%;
  margin: 20px auto;
  padding: 20px;
	background:url(../img/Background.png) repeat-x fixed;
  border: 1px solid #8E9794;
}.conteudoDecricaoExibir{
  display: grid;
  max-height: auto;
  min-height: 95vh;
}

#conteudoNomeInformacao{
  position: absolute;
  top: 0;
	background:url(../img/BackgroundTopo.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: auto 0px;
}
#nomeInfomacoes{
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  margin: 15px 0px;
  text-align: center;
}

.conteudoDescricaoAvaliacao{
  padding: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}


th,td{
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.nomeTitulo{
  background-color: #D40054;
}

.conteudoTabelaAV{
  font-weight: 490;
}
#conteudoTabelaParte1, #conteudoTabelaAVS{
  background-color: #8E9494;
}
#conteudoTabelaParte2{
  background-color: #595D5C;
}

.RegrasAprovacao3AVS{
  padding-top: 20px;
  color: #004F9F;
  font-weight: 600;
}
.RegrasAprovacao3AVS p{
  padding: 2px;
}

.descricaoObs{
  color: #D40054;
  font-size: 18px;
  font-weight: 700;
}
.obs{
  font-size: 17px;
  color: #D40054;
  font-weight: bolder;
}

@media only screen and (max-width: 555px){
  .tabelaRegrasCalculo3AVS{
    display: block;
    overflow: scroll;
    width: 85%;
    position: absolute;
  }
  .RegrasAprovacao3AVS{
    margin-top: 450px;
  }
}